@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Orbitron:wght@700&family=Raleway:wght@200;400;500;600&display=swap');
.menu-list{
    
    margin-top: 80px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
 
}
li a{
    color: #EA047E;
    text-decoration: none;
    margin-left: 80px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.icon{
    background-image: url(../../../Icons/Plugin\ icon\ -\ 1.png);
    width: 120px;
    height: 120px;
    position: absolute;
    top: 40px;
    left: 80px;
}
.icon p{
    font-size: 25px;
    padding-left: 115px;
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 54px;
}
.active{
    height: 500px;
    width: 500px;
    background-color: #FFD6Ec;
    border-radius: 70px;
}